   
/* css variables */
:root{
  --title--:40px;
  --primarycolor--:rgba(129, 37, 235, 0.726);
}



#logo {
  text-align: left;
}
#logo div {
  margin-top: 20px;
}
#logo > h1 {
  display: inline-block;
}


nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 30px;
  display: flex;
  justify-content: flex-end;
}
li {
  font-size: 25px;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 5px 10px;
}
nav a:hover {
  color: rgba(129, 37, 235, 0.726);
  background-color: lightgray;
}
nav li:first-child a,
nav li:last-child a {
  background-color: rgba(129, 37, 235, 0.726);
  color: white;
}
nav li:last-child a:hover {
  background-color: rgb(92, 24, 156);
  transform: translateY(-3px);
  box-shadow: 0 4px 4px rgba(96, 26, 177, 0.726);
}


#main {
  display: flex; 
  justify-content: space-between;
  /* border: 1px solid black; */
  margin-top: 20px;
}
#left, #right {
  width: 49%;
  /* height: 400px; */
}
#left {
  /* border: 2px solid red; border: 2px solid blue; */
    margin: 50px 30px;
    height: 200px;

}
/* #right {  border: 2px solid green; */

#text>button{
  padding: 10px 30px;
  border-radius: 6px;
  background-color: blueviolet;
  color: white;
  border: none;
} 


#title{
  width: 50%;
  /* border: 2px solid black; */
  margin: 30px auto;
  margin-top: 40px;
  text-align: center;
}
#title>h1{
  font-size: var(--title--);
}

  #cardsdiv {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .cards {
      width: 30%;
      border: 2px solid black;
      border-radius: 20px;
      margin: 10px;
      text-align: center;
      box-sizing: border-box;
    }

    .img img {
      width: 100%;
      border-radius: 20px 20px 0 0;
    }

    .cardText {
      padding: 10px;
    }

    .cardText h6 {
      color: gray;
    }

    .cardText p {
      color: rgb(148, 138, 138);
    }

    .cardText button {
      padding: 5px 10px;
      border-radius: 10px;
      border: 1px solid lightgray;
      background-color: transparent;
      cursor: pointer;
    }
    
    #fieldset{ text-align: center;}
    #bit{
      background-color: rgba(129, 37, 235, 0.726);
      color: white;
      cursor: pointer;
  }

